$accentBright: rgb(188, 22, 47);
#navbar {
    position: fixed;
    top: 0;
    width: 100vw;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: linear-gradient(black, rgba(0,0,0,0));
    #line {
        position: fixed;
        width: 100vw;
        left: 0;
        height: 1px;
        background: rgba(255,255,255,.4);
        z-index: 50;
    }
    .logo {
        position: fixed;
        left: 30px;
        font-size: 1.5em;
        line-height: 1;
        font-weight: 500;
        z-index: 51;
        color: white;
        text-decoration: none;
    }
    .checkbox {
        opacity: 0;
        position: fixed;
    }
    .ul1 {
        font-size: .8em;
        font-weight: 300;
        z-index: 51;
        display: flex;
        flex-direction: center;
        justify-content: space-between;
        align-items: center;
        width: 380px;

        a, label {
            color: white;
            text-decoration: none;
            transition-duration: .4s;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 80px;
            height: 40px;
            
            &:before {
                content: "";
                background: $accentBright;
                height: 0;
                width: 80px;
                z-index: -1;
                position: absolute;
                transition-duration: .4s;
            }
            &:hover:before {
                height: 40px;
            }
        }
    }
    .contactPopup {
        z-index: 999;
        position: fixed;
        width: calc(100vw - 200px);
        height: calc(100vh - 200px);
        top: 100px;
        left: 100px;
        background: $accentBright;
        border-radius: 14px;
        box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.5);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        transform: scale(0);
        opacity: 0;
        transition-duration: 400ms;
        transition-timing-function: ease-out;
        
        h5 {
            font-size: 2em;
            font-weight: 400;
            margin-bottom: -20px;
        }
        h3 {
            font-size: 6em;
            font-weight: 500;
        }
        .contact {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            width: 240px;
            a {
                font-size: .9em;
                text-decoration: none;
                color: white;
                box-sizing: border-box;
                border: 3px solid white;
                padding: 15px 28px;
                background: none;
                transition-duration: .3s;
                display: flex;
                justify-content: center;
                align-items: center;
                width: 110px;
                height: 60px;
    
                &:before {
                    content: "";
                    position: absolute;
                    z-index: -1;
                    background: white;
                    width: 108px;
                    height: 58px;
                    transform: scaleY(0);
                    transition-duration: 0.4s;
                }
                &:hover:before {
                    transform: scaleY(1);
                }
                &:hover {
                    color: $accentBright;
                    border-color: white;
                }
            }
        }
        .contactX {
            position: absolute;
            height: 30px;
            width: 30px;
            top: 40px;
            right: 40px;
            display: -webkit-box;
            display: -ms-flexbox;
            display: flex;
            justify-content: center;
            align-items: center;
            z-index: 102;
            padding: 10px;
            margin-top: -10px;
            .line {
                top: 50%;
                right: 0;
                position: absolute;
                width: 30px;
                height: 3px;
                background: white;
                border-radius: 1.5px;
            }
            .one {
                transform: rotate(45deg);
            }
            .two {
                transform: rotate(-45deg);
            }
            &:hover ~ .contactXBg {
                transform: scale(1);
            }
        }
        .contactXBg {
            position: absolute;
            top: 27px;
            right: 25px;
            background: rgba(0, 0, 0, 0.5);
            height: 60px;
            width: 60px;
            border-radius: 30px;
            z-index: 101;
            transform: scale(0);
            transition-duration: .2s;
        }
    }
    .checkbox:checked ~ .contactPopup {
        transform: scale(1);
        opacity: 1;
    }
    .chapter {
        font-size: .8em;
        z-index: 51;
        font-weight: 400;
        position: fixed;
        right: 17.5px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        transition-duration: .4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: white;
            height: 45px;
            width: 141px;
            transform: scaleY(0);
            transition-duration: 0.4s;
        }
        &:hover:before {
            transform: scaleY(1);
        }
        &:hover {
            color: black;
        }
    }
}