$accentBright: rgb(53, 0, 211);
$accent: #240090;
$accentDark: #0C0032;
* {
    margin: 0;
    padding: 0;
    transition-timing-function: cubic-bezier(0,0,.4,1);
}
::selection {
    background: rgba(255,255,255,.5);
    color: black;
}
html {
    //cursor: none;
    font-size: 18px;
    background: #111;
}
html, body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    transition-duration: 1s;
}
.se-pre-con {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: #111;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .4s;
    p {
        color: rgba(255,255,255,.1);
        font-size: 20vw;
        font-weight: 600;
        z-index: 2;
        transition-duration: .5s;
    }
    .bar {
        position: fixed;
        height: 100vh;
        width: 0;
        z-index: 1;
        background: #190061;
        left: 0;
        top: 0;
    }
}
/*#cursor {
    z-index: 101;
    transition-duration: 0s;
    top: -100px;
    position: absolute;
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,1);
}
#cursorFollower {
    z-index: 100;
    transition-duration: 0.5s;
    top: -100px;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid $accentBright;
    border-radius: 17px;
    transition-timing-function: cubic-bezier(0,0,.4,1);
}
*/

.cross {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    .horizontal {
        position: absolute;
        height: 8px;
        width: 28px;
        background: $accentBright;
        margin-top: 10px;
    }
    .vertical {
        position: absolute;
        height: 48px;
        width: 8px;
        background: $accentBright;
    }
}
.cross1 {
    top: 80vh;
    left: 30vw;
}
.cross2 {
    top: 10vh;
    left: 10vw;
}
.cross3 {
    top: 30vh;
    right: 5vw;
}
.cross4 {
    top: 45vh;
    left: 55vw;
}
.lineloaded {
    width: 100vw;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: linear-gradient(black, rgba(0,0,0,0));
    #line {
        position: fixed;
        width: 100vw;
        left: 0;
        height: 1px;
        background: rgba(255,255,255,.4);
        z-index: 50;
    }
    .logo {
        position: fixed;
        left: 30px;
        font-size: 1.5em;
        line-height: 1;
        font-weight: 500;
        z-index: 51;
        color: white;
        text-decoration: none;
    }
    .ul1 {
        font-size: .8em;
        font-weight: 300;
        z-index: 51;
        display: flex;
        flex-direction: center;
        justify-content: space-between;
        align-items: center;
        width: 350px;

        a {
            color: white;
            text-decoration: none;
            transition-duration: .4s;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:before {
                content: "";
                background: $accentBright;
                height: 0;
                width: 80px;
                z-index: -1;
                position: absolute;
                transition-duration: .4s;
            }
            &:hover:before {
                height: 40px;
            }
        }
    }
    .chapter {
        font-size: .8em;
        z-index: 51;
        font-weight: 400;
        position: fixed;
        right: 17.5px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        transition-duration: .4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: white;
            height: 45px;
            width: 143.27px;
            transform: scaleY(0);
            transition-duration: 0.4s;
        }
        &:hover:before {
            transform: scaleY(1);
        }
        &:hover {
            color: black;
        }
    }
}

#lander {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 100px;

        h1 {
            font-size: 8em;
            font-weight: 600;
        }
        a {
            font-size: .9em;
            text-decoration: none;
            color: white;
            box-sizing: border-box;
            border: 3px solid $accentBright;
            padding: 15px 28px;
            background: none;
            transition-duration: .3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                background: $accentBright;
                height: 61px;
                width: 181px;
                transform: scaleY(0);
                transition-duration: 0.4s;
            }
            &:hover:before {
                transform: scaleY(1);
            }
            &:hover {
                border-color: $accentBright;
            }
        }
    }
    img {
        right: 0;
        position: fixed;
        height: 90vh;
        padding-top: 10vh;
        margin-right: 100px;
        filter: grayscale(1) contrast(1.1);
        z-index: -1;
    }
}

#section1 {
    background: linear-gradient(20deg, $accentDark, $accent);
    padding: 150px 0;
    border-radius: 50px 50px 0 0;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        width: 60%;
        font-size: 1.4em;
        font-weight: 500;
        text-align: center;
        line-height: 1.75;
    }
}