* {
    margin: 0;
    padding: 0;
    transition-duration: .3s;
}
html {
    cursor: none;
    font-size: 18px;
}
html, body {
    overflow: hidden;
    font-family: LL-Riformal;
}
#title {
    position: absolute;
    z-index: -1;
    height: 100vh;
    width: 100%;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 10.5vw;
    color: #222;
}
.buttons {
    position: absolute;
    z-index: 1;
    height: 100vh;
    width: 100%;
}
.btn {
    position: absolute;
    z-index: 2;
    color: #222;
    text-decoration: none;
    padding: 40px;
    font-size: 1em;
    background: rgba(0,0,0,0);
    font-weight: 500;

    &:hover {
        color: rgba(255,255,255,.8);
        cursor: none;
    }
}
.aboutBtn {
    top: 0;
    left: 0;
}
.homeBtn {
    top: -98px;
    left: 0;
    color: #aaa;
    &:hover {
        color: white;
    }
}
.albumsBtn {
    top: 0;
    right: 0;
}
.shopBtn {
    bottom: 0;
    left: 0;
}
.contactBtn {
    bottom: 0;
    right: 0;
}

#hoverB {
    transition-duration: .4s;
    position: absolute;
    height: 180px;
    width: 180px;
    background: #222;
    border-radius: 90px;
    transform: scale(.2);
    transition-timing-function: cubic-bezier(0,0,.4,.94);
    top: -110px;
    z-index: -1;
}
#hoverW {
    transition-duration: .5s;
    position: absolute;
    height: 180px;
    width: 180px;
    background: #aaa;
    border-radius: 90px;
    transform: scale(0);
    transition-timing-function: cubic-bezier(0,0,.4,.94);
    top: -110px;
    z-index: -1;
}
#cursor {
    transition-duration: 0s;
    top: -100px;
    position: absolute;
    height: 20px;
    width: 20px;
    background: white;
    border-radius: 10px;
    transform: scale(.4);
}

.page {
    position: absolute;
    height: 100vh;
    width: 100%;
    transform: scale(0);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    display: flex;
    transition-duration: .4s;
    z-index: -1;

    h1 {
        font-size: 10.5vw;
        color: #aaa;
    }
    p {
        margin-top: 30px;
        font-size: 1.25em;
        color: #aaa;
        text-align: center;
        width: 50%;
        line-height: 1.5;
    }
}