$accentBright: rgb(53, 0, 211);
$accent: #240090;
$accentDark: #0C0032;
* {
    margin: 0;
    padding: 0;
    transition-timing-function: cubic-bezier(0,0,.4,1);
}
::selection {
    background: rgba(255,255,255,.5);
    color: black;
}
html {
    //cursor: none;
    font-size: 18px;
    background: #111;
}
html, body {
    overflow-x: hidden;
    font-family: 'Poppins', sans-serif;
    color: white;
}
body {
    transition-duration: 1s;
}
.se-pre-con {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: #111;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .4s;
    p {
        color: rgba(255,255,255,.1);
        font-size: 20vw;
        font-weight: 600;
        z-index: 2;
        transition-duration: .5s;
    }
    .bar {
        position: fixed;
        height: 100vh;
        width: 0;
        z-index: 1;
        background: #190061;
        left: 0;
        top: 0;
    }
}
/*#cursor {
    z-index: 101;
    transition-duration: 0s;
    top: -100px;
    position: absolute;
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,1);
}
#cursorFollower {
    z-index: 100;
    transition-duration: 0.5s;
    top: -100px;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid $accentBright;
    border-radius: 17px;
    transition-timing-function: cubic-bezier(0,0,.4,1);
}
*/

.cross {
    z-index: -1;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    .horizontal {
        position: absolute;
        height: 8px;
        width: 28px;
        background: $accentBright;
        margin-top: 10px;
    }
    .vertical {
        position: absolute;
        height: 48px;
        width: 8px;
        background: $accentBright;
    }
}
.cross1 {
    top: 80vh;
    left: 30vw;
}
.cross2 {
    top: 10vh;
    left: 10vw;
}
.cross3 {
    top: 30vh;
    right: 5vw;
}
.cross4 {
    top: 45vh;
    left: 55vw;
}
.cross5 {
    top: 0vh;
    left: 75vw;
}
.lineloaded {
    width: 100vw;
}
#navbar {
    position: fixed;
    top: 0;
    width: 100%;
    height: 80px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    z-index: 50;
    background: linear-gradient(black, rgba(0,0,0,0));
    #line {
        position: fixed;
        width: 100vw;
        left: 0;
        height: 1px;
        background: rgba(255,255,255,.4);
        z-index: 50;
    }
    .logo {
        position: fixed;
        left: 30px;
        font-size: 1.5em;
        line-height: 1;
        font-weight: 500;
        z-index: 51;
        color: white;
        text-decoration: none;
    }
    .ul1 {
        font-size: .8em;
        font-weight: 300;
        z-index: 51;
        display: flex;
        flex-direction: center;
        justify-content: space-between;
        align-items: center;
        width: 350px;

        a {
            color: white;
            text-decoration: none;
            transition-duration: .4s;
            display: flex;
            justify-content: center;
            align-items: center;
            
            &:before {
                content: "";
                background: $accentBright;
                height: 0;
                width: 80px;
                z-index: -1;
                position: absolute;
                transition-duration: .4s;
            }
            &:hover:before {
                height: 40px;
            }
        }
    }
    .chapter {
        font-size: .8em;
        z-index: 51;
        font-weight: 400;
        position: fixed;
        right: 17.5px;
        padding: 10px 20px;
        color: white;
        text-decoration: none;
        border: 2px solid white;
        transition-duration: .4s;
        display: flex;
        justify-content: center;
        align-items: center;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: white;
            height: 40px;
            width: 132px;
            transform: scaleY(0);
            transition-duration: 0.4s;
        }
        &:hover:before {
            transform: scaleY(1);
        }
        &:hover {
            color: black;
        }
    }
}

#lander {
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 100px;

        h1 {
            font-size: 8em;
            font-weight: 600;
        }
        a {
            font-size: .9em;
            text-decoration: none;
            color: white;
            box-sizing: border-box;
            border: 3px solid $accentBright;
            padding: 15px 28px;
            background: none;
            transition-duration: .3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                background: $accentBright;
                height: 55px;
                width: 170px;
                transform: scaleY(0);
                transition-duration: 0.4s;
            }
            &:hover:before {
                transform: scaleY(1);
            }
            &:hover {
                border-color: $accentBright;
            }
        }
    }
    img {
        right: 0;
        position: fixed;
        height: 90vh;
        padding-top: 10vh;
        margin-right: 100px;
        filter: grayscale(1) contrast(1.1);
        z-index: -1;
    }
}

#section1 {
    background: linear-gradient(20deg, $accentDark, $accent);
    padding: 120px 0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        width: 60%;
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
        line-height: 1.75;
    }
}

.section2 {
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px 60px 0 0;
    h2 {
        font-weight: 500;
        font-size: 3em;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 75px;

        .heading {
            color: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            opacity: 0;
            justify-content: center;
            align-items: center;
            z-index: 0;

            .text {
                display: flex;
                flex-direction: column;
                width: 300px;

                h3 {
                    font-size: 2.5em;
                    font-weight: 100;
                    text-align: center;
                }
                h4 {
                    font-size: 1.5em;
                    font-weight: 100;
                    text-align: center;
                }
            }
            .previous, .pre {
                margin-right: 60px;
                user-select: none;
            }
            .pre, .nex {
                opacity: .2;
            }
            .next, .nex {
                margin-left: 60px;
                user-select: none;
            }
            .arrow img {
                height: 20px;
            }
            .arrow:hover {
                cursor: pointer;
                color: $accentBright;
            }
            .pre:hover, .nex:hover {
                cursor: default;
                color: white;
            }
        }
    }
    .slidetrack {
        display: flex;
        flex-direction: row;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .6s;

        .album {
            height: 320px;
            width: 320px;
            transform: scale(.8);
            filter: brightness(.4);
            transition-duration: .6s;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;

            .albumInfo {
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
                text-align: center;
                opacity: 0;
                transition: all .6s ease;
                background: rgba(0,0,0,0.65);

                h3 {
                    font-weight: 300;
                    margin-bottom: 30px;
                    color: rgba(255,255,255,.7);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        font-size: .8em;
                        text-align: center;
                        display: inline;
                        color: white;
                        margin: 0 auto 5px auto;
                        padding-bottom: 1px;
                        text-decoration: none;
                        transition-duration: .3s;
                        font-weight: 200;
                    }
                }
            }
        }
        .active:hover .albumInfo {
            display: flex;
            opacity: 1;
        }
        #album1 { background: $accentBright; }
        #album2 { background: $accentBright; }
        #album3 { background: $accentBright; }
        #album4 { background: $accentBright; }
        #album2, #album3, #album4 {
            margin-left: 10px;
        }
        .albumempty {
            height: 320px;
            width: 320px;
            background: none;
            margin-right: 10px;
        }
    }
    .discography {
        color: $accentBright;
        font-size: 2.5em;
        border-bottom: 0px solid black;
        padding-bottom: 4px;
        margin-top: 30px;
        user-select: none;
        text-decoration: none;
        transition-duration: .3s;

        &:hover {
            margin-bottom: -3px;
            border-bottom: 3px solid $accentBright;
        }
        .arrowRight {
            height: 18px;
            margin-left: 10px;
        }
    }
}

.active {
    transform: scale(1) !important;
    filter: brightness(1) !important;
}
.on {
    opacity: 1 !important;
    z-index: 1 !important;
}