* {
  margin: 0;
  padding: 0;
  -webkit-transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
          transition-timing-function: cubic-bezier(0, 0, 0.4, 1);
}

::-moz-selection {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

::selection {
  background: rgba(255, 255, 255, 0.5);
  color: black;
}

html {
  font-size: 18px;
  background: #111;
}

html, body {
  overflow-x: hidden;
  font-family: Poppins;
  color: white;
}

body {
  -webkit-transition-duration: 1s;
          transition-duration: 1s;
}

.se-pre-con {
  position: fixed;
  height: 100vh;
  width: 100vw;
  z-index: 1000;
  background: #111;
  -webkit-transition-duration: 1.5s;
          transition-duration: 1.5s;
  -webkit-transition-timing-function: ease;
          transition-timing-function: ease;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition-delay: .4s;
          transition-delay: .4s;
}

.se-pre-con p {
  color: rgba(255, 255, 255, 0.1);
  font-size: 20vw;
  font-weight: 600;
  z-index: 2;
  -webkit-transition-duration: .5s;
          transition-duration: .5s;
}

.se-pre-con .bar {
  position: fixed;
  height: 100vh;
  width: 0;
  z-index: 1;
  background: #190061;
  left: 0;
  top: 0;
}

/*#cursor {
    z-index: 101;
    transition-duration: 0s;
    top: -100px;
    position: absolute;
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 3px 10px rgba(0,0,0,1);
}
#cursorFollower {
    z-index: 100;
    transition-duration: 0.5s;
    top: -100px;
    position: absolute;
    height: 30px;
    width: 30px;
    border: 2px solid $accentBright;
    border-radius: 17px;
    transition-timing-function: cubic-bezier(0,0,.4,1);
}
*/
.cross {
  z-index: -5;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

.cross .horizontal {
  position: absolute;
  height: 8px;
  width: 28px;
  background: #3f00f1;
  margin-top: 10px;
}

.cross .vertical {
  position: absolute;
  height: 48px;
  width: 8px;
  background: #3f00f1;
}

.cross1 {
  top: 80vh;
  left: 30vw;
}

.cross2 {
  top: 10vh;
  left: 10vw;
}

.cross3 {
  top: 30vh;
  right: 5vw;
}

.cross4 {
  top: 45vh;
  left: 55vw;
}

.cross5 {
  top: 0vh;
  left: 75vw;
}

.lineloaded {
  width: 100vw;
}

#navbar {
  position: fixed;
  top: 0;
  width: 100%;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 50;
  background: -webkit-gradient(linear, left top, left bottom, from(black), to(rgba(0, 0, 0, 0)));
  background: linear-gradient(black, rgba(0, 0, 0, 0));
}

#navbar #line {
  position: fixed;
  width: 100vw;
  left: 0;
  height: 1px;
  background: rgba(255, 255, 255, 0.4);
  z-index: 50;
}

#navbar .logo {
  position: fixed;
  left: 30px;
  font-size: 1.5em;
  line-height: 1;
  font-weight: 500;
  z-index: 51;
  color: white;
  text-decoration: none;
}

#navbar .ul1 {
  font-size: .8em;
  font-weight: 300;
  z-index: 51;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: center;
          flex-direction: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 350px;
}

#navbar .ul1 a {
  color: white;
  text-decoration: none;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .ul1 a:before {
  content: "";
  background: #3f00f1;
  height: 0;
  width: 80px;
  z-index: -1;
  position: absolute;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
}

#navbar .ul1 a:hover:before {
  height: 40px;
}

#navbar .chapter {
  font-size: .8em;
  z-index: 51;
  font-weight: 400;
  position: fixed;
  right: 17.5px;
  padding: 10px 20px;
  color: white;
  text-decoration: none;
  border: 2px solid white;
  -webkit-transition-duration: .4s;
          transition-duration: .4s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#navbar .chapter:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  height: 45px;
  width: 141px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#navbar .chapter:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#navbar .chapter:hover {
  color: black;
}

#lander {
  height: 100vh;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lander .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  margin-left: 100px;
}

#lander .text .title {
  font-size: 9em;
  font-weight: 600;
  text-shadow: 10px 10px 0px #3f00f1;
  font-family: 'Poppins';
  margin-left: -8px;
}

#lander .text a {
  font-size: .9em;
  text-decoration: none;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid #3f00f1;
  padding: 15px 28px;
  background: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#lander .text a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: #3f00f1;
  height: 61px;
  width: 230px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#lander .text a:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#lander .text a:hover {
  border-color: #3f00f1;
}

#lander img {
  right: 0;
  position: fixed;
  height: 90vh;
  padding-top: 10vh;
  margin-right: 100px;
  -webkit-filter: grayscale(1) contrast(1.1);
          filter: grayscale(1) contrast(1.1);
  z-index: -2;
}

#section1 {
  background: linear-gradient(20deg, #240090, #3f00f1);
  padding: 130px 0;
  border-radius: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#section1 p {
  width: 650px;
  font-size: 1.3em;
  font-weight: 500;
  text-align: center;
  line-height: 1.75;
}

#section1 a {
  margin-top: 40px;
  font-size: .9em;
  text-decoration: none;
  color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: 3px solid white;
  padding: 15px 0;
  width: 310px;
  background: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 2;
  font-weight: 500;
}

#section1 a:before {
  content: "";
  position: absolute;
  z-index: -1;
  background: white;
  height: 61px;
  width: 310px;
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
  -webkit-transition-duration: 0.4s;
          transition-duration: 0.4s;
}

#section1 a:hover:before {
  -webkit-transform: scaleY(1);
          transform: scaleY(1);
}

#section1 a:hover {
  color: #240090;
}

.section2 {
  padding: 150px 0 100px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 60px 60px 0 0;
}

.section2 h2 {
  font-weight: 500;
  font-size: 3em;
}

.section2 .navigation {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  color: white;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 100px;
}

.section2 .navigation .heading {
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  position: absolute;
  opacity: 0;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 0;
}

.section2 .navigation .heading .text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 300px;
}

.section2 .navigation .heading .text h3 {
  font-size: 2.5em;
  font-weight: 400;
  text-align: center;
}

.section2 .navigation .heading .text h4 {
  font-size: 1.5em;
  font-weight: 300;
  text-align: center;
}

.section2 .navigation .heading .previous, .section2 .navigation .heading .pre {
  margin-right: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section2 .navigation .heading .pre, .section2 .navigation .heading .nex {
  opacity: .2;
}

.section2 .navigation .heading .next, .section2 .navigation .heading .nex {
  margin-left: 60px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.section2 .navigation .heading .arrow img {
  height: 20px;
}

.section2 .navigation .heading .arrow:hover {
  cursor: pointer;
  color: #3f00f1;
}

.section2 .navigation .heading .pre:hover, .section2 .navigation .heading .nex:hover {
  cursor: default;
  color: white;
}

.section2 .slidetrack {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  height: 320px;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
}

.section2 .slidetrack .album {
  height: 350px;
  width: 350px;
  -webkit-transform: scale(0.8);
          transform: scale(0.8);
  -webkit-filter: brightness(0.4);
          filter: brightness(0.4);
  -webkit-transition-duration: .6s;
          transition-duration: .6s;
  z-index: 1;
  background-size: cover;
  background-repeat: no-repeat;
}

.section2 .slidetrack .album .albumInfo {
  color: white;
  width: 100%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 1.2em;
  text-align: center;
  opacity: 0;
  -webkit-transition: all .6s ease;
  transition: all .6s ease;
  background: rgba(0, 0, 0, 0.4);
}

.section2 .slidetrack .album .albumInfo h3 {
  font-weight: 500;
  margin-bottom: 30px;
  color: rgba(255, 255, 255, 0.7);
}

.section2 .slidetrack .album .albumInfo ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.section2 .slidetrack .album .albumInfo ul a {
  font-size: .8em;
  text-align: center;
  display: inline;
  color: white;
  margin: 0 auto 5px auto;
  padding-bottom: 1px;
  text-decoration: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
  font-weight: 300;
}

.section2 .slidetrack .active:hover .albumInfo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  opacity: 1;
}

.section2 .slidetrack #album1 {
  background: #3f00f1;
}

.section2 .slidetrack #album2 {
  background: #3f00f1;
}

.section2 .slidetrack #album3 {
  background: #3f00f1;
}

.section2 .slidetrack #album4 {
  background: #3f00f1;
}

.section2 .slidetrack #album2, .section2 .slidetrack #album3, .section2 .slidetrack #album4 {
  margin-left: 10px;
}

.section2 .slidetrack .albumempty {
  height: 350px;
  width: 350px;
  background: none;
  margin-right: 10px;
}

.section2 .discography {
  color: #3f00f1;
  font-size: 2.5em;
  border-bottom: 0px solid #111;
  padding-bottom: 4px;
  margin-top: 50px;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  text-decoration: none;
  -webkit-transition-duration: .3s;
          transition-duration: .3s;
}

.section2 .discography:hover {
  margin-bottom: -3px;
  border-bottom: 3px solid #3f00f1;
}

.section2 .discography .arrowRight {
  height: 18px;
  margin-left: 10px;
}

.active {
  -webkit-transform: scale(1) !important;
          transform: scale(1) !important;
  -webkit-filter: brightness(1) !important;
          filter: brightness(1) !important;
}

.on {
  opacity: 1 !important;
  z-index: 1 !important;
}
/*# sourceMappingURL=styles.css.map */