$accentBright: rgb(188, 22, 47);
* {
    margin: 0;
    padding: 0;
    transition-timing-function: cubic-bezier(0,0,.4,1);
    cursor: none !important;
}
::selection {
    background: rgba(255,255,255,.5);
    color: black;
}
html {
    font-size: 18px;
    background: #000;
    overflow-x: hidden;
    width: 100vw;
}
body {
    transition-duration: 1s;
    font-family: Poppins;
    color: white;
    overflow-x: hidden;
    overflow-y: hidden;
    width: 100vw;
}
#overlay {
    position: fixed;
    height: 100vh;
    width: 100vw;
    z-index: 1000;
    background: $accentBright;
    transition-duration: 1.5s;
    transition-timing-function: ease;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-delay: .4s;
    #cross {
        display: flex;
        justify-content: center;
        align-items: center;
        transform: scale(3) rotate(0);
        animation: flip 1600ms linear;

        .horizontal {
            background: black;
            height: 8px;
            width: 28px;
            margin-top: 10px;
            position: absolute;
        }
        .vertical {
            background: black;
            height: 48px;
            width: 8px;
            position: absolute;
        }
    }
    @keyframes flip {
        0% { transform: scale(3) rotate(180deg); }
        25% { transform: scale(3) rotate(180deg); }
        100% { transform: scale(3) rotate(0); }
    }
}
#cursor {
    z-index: 10000;
    transition-duration: 0s;
    top: -100px;
    position: fixed;
    height: 8px;
    width: 8px;
    background: white;
    border-radius: 4px;
    box-shadow: 0 0px 10px rgba(0,0,0,1);
    pointer-events: none;
}
#cursorFollower {
    z-index: 10000;
    transition-duration: 0.2s;
    top: -100px;
    position: fixed;
    height: 30px;
    width: 30px;
    border: 2px solid none;
    background: white;
    border-radius: 17px;
    transition-timing-function: ease-out;
    pointer-events: none;
    //box-shadow: 0 0px 10px rgba(0,0,0,1);
    opacity: .5;
    transform: scale(1);
}


.cross {
    z-index: -5;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(1.5);
    .horizontal {
        position: absolute;
        height: 8px;
        width: 28px;
        background: $accentBright;
        margin-top: 10px;
    }
    .vertical {
        position: absolute;
        height: 48px;
        width: 8px;
        background: $accentBright;
    }
}
.cross1 {
    top: 80vh;
    left: 30vw;
}
.cross2 {
    top: 10vh;
    left: 10vw;
}
.cross3 {
    top: 30vh;
    right: 5vw;
}
.cross4 {
    top: 45vh;
    left: 55vw;
}
.cross5 {
    top: 0vh;
    left: 75vw;
}
.lineloaded {
    width: 100vw;
}

#lander {
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0;

    .text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        margin-left: 100px;

        .title {
            font-size: 9em;
            font-weight: 600;
            text-shadow: 10px 10px 0px $accentBright;
            font-family: 'Poppins';
            margin-left: -8px;
        }
        a {
            font-size: .9em;
            text-decoration: none;
            color: white;
            box-sizing: border-box;
            border: 3px solid $accentBright;
            padding: 15px 28px;
            background: none;
            transition-duration: .3s;
            display: flex;
            justify-content: center;
            align-items: center;

            &:before {
                content: "";
                position: absolute;
                z-index: -1;
                background: $accentBright;
                height: 59px;
                width: 230px;
                transform: scaleY(0);
                transition-duration: 0.4s;
            }
            &:hover:before {
                transform: scaleY(1);
            }
            &:hover {
                border-color: $accentBright;
            }
        }
    }
    img {
        right: 0;
        position: fixed;
        height: 90vh;
        padding-top: 10vh;
        margin-right: 100px;
        filter: grayscale(1) contrast(1.1) brightness(.8);
        z-index: -2;
    }
}

#section1 {
    background: $accentBright;
    padding: 130px 0;
    border-radius: 40px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

    p {
        width: 650px;
        font-size: 1.3em;
        font-weight: 500;
        text-align: center;
        line-height: 1.75;
    }
    a {
        margin-top: 40px;
        font-size: .9em;
        text-decoration: none;
        color: white;
        box-sizing: border-box;
        border: 3px solid white;
        padding: 15px 0;
        width: 310px;
        background: none;
        transition-duration: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 2;
        font-weight: 500;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: white;
            height: 61px;
            width: 310px;
            transform: scaleY(0);
            transition-duration: 0.4s;
        }
        &:hover:before {
            transform: scaleY(1);
        }
        &:hover {
            color: $accentBright;
        }
    }
}

.section2 {
    padding: 150px 0 100px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 60px 60px 0 0;
    h2 {
        font-weight: 500;
        font-size: 3em;
    }
    .navigation {
        display: flex;
        flex-direction: row;
        color: white;
        justify-content: center;
        align-items: center;
        margin-bottom: 100px;

        .heading {
            color: white;
            display: flex;
            flex-direction: row;
            position: absolute;
            opacity: 0;
            justify-content: center;
            align-items: center;
            z-index: 0;

            .text {
                display: flex;
                flex-direction: column;
                width: 300px;

                h3 {
                    font-size: 2.5em;
                    font-weight: 400;
                    text-align: center;
                }
                h4 {
                    font-size: 1.5em;
                    font-weight: 300;
                    text-align: center;
                }
            }
            .previous, .pre {
                margin-right: 60px;
                user-select: none;
            }
            .pre, .nex {
                opacity: .2;
            }
            .next, .nex {
                margin-left: 60px;
                user-select: none;
            }
            .arrow img {
                height: 20px;
            }
            .arrow:hover {
                cursor: pointer;
                color: $accentBright;
            }
            .pre:hover, .nex:hover {
                cursor: default;
                color: white;
            }
        }
    }
    .slidetrack {
        display: flex;
        flex-direction: row;
        height: 320px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-duration: .6s;

        .album {
            height: 350px;
            width: 350px;
            transform: scale(.8);
            filter: brightness(.4);
            transition-duration: .6s;
            z-index: 1;
            background-size: cover;
            background-repeat: no-repeat;
            border-radius: 12px;

            .albumInfo {
                color: white;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                font-size: 1.2em;
                text-align: center;
                opacity: 0;
                transition: all .6s ease;
                background: rgba(0,0,0,0.4);

                h3 {
                    font-weight: 500;
                    margin-bottom: 30px;
                    color: rgba(255,255,255,.7);
                }
                ul {
                    display: flex;
                    flex-direction: column;
                    align-items: flex-start;

                    a {
                        font-size: .8em;
                        text-align: center;
                        display: inline;
                        color: white;
                        margin: 0 auto 5px auto;
                        padding-bottom: 1px;
                        text-decoration: none;
                        transition-duration: .3s;
                        font-weight: 300;
                    }
                }
            }
        }
        .active:hover .albumInfo {
            display: flex;
            opacity: 1;
        }
        #album1 { background: $accentBright; }
        #album2 { background: $accentBright; }
        #album3 { background: $accentBright; }
        #album4 { background: $accentBright; }
        #album2, #album3, #album4 {
            margin-left: 10px;
        }
        .albumempty {
            height: 350px;
            width: 350px;
            background: none;
            margin-right: 10px;
        }
    }
    .discography {
        color: $accentBright;
        font-size: 2.5em;
        border-bottom: 0px solid #111;
        padding-bottom: 4px;
        margin-top: 50px;
        user-select: none;
        text-decoration: none;
        transition-duration: .3s;

        &:hover {
            margin-bottom: -3px;
            border-bottom: 3px solid $accentBright;
        }
        .arrowRight {
            height: 18px;
            margin-left: 10px;
        }
    }
}

.active {
    transform: scale(1) !important;
    filter: brightness(1) !important;
}
.on {
    opacity: 1 !important;
    z-index: 1 !important;
}

#section3 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 100px 0 150px 0;
    h2 {
        color: white;
        font-size: 4em;
        font-weight: 400;
        margin-bottom: 70px;
        text-align: center;
    }
    hr {
        border: 1px solid white; 
    }
    .column {
        width: 70vw;
        font-size: .9em;
        .row {
            display: flex;
            flex-direction: row;
            justify-content: flex-start;
            align-items: center;
            padding: 30px 0;
            .left {
                width: calc(70vw - 250px);
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: center;
                .date {
                    color: $accentBright;
                    width: 120px;
                    font-size: 1.25em;
                }
                .city {
                    width: 200px;
                }
            }
            .right {
                width: 250px;
                display: flex;
                flex-direction: row;
                justify-content: flex-end;
                align-items: center;
                a {
                    font-size: .9em;
                    text-decoration: none;
                    color: white;
                    box-sizing: border-box;
                    border: 3px solid $accentBright;
                    padding: 12px 28px;
                    background: none;
                    transition-duration: .3s;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-left: 20px;
        
                    &:before {
                        content: "";
                        position: absolute;
                        z-index: -1;
                        background: $accentBright;
                        height: 50px;
                        transform: scaleY(0);
                        transition-duration: 0.4s;
                    }
                    &:hover:before {
                        transform: scaleY(1);
                    }
                    &:hover {
                        border-color: $accentBright;
                    }
                }
                .vip:before { width: 82px; }
                .tickets:before { width: 110px; }
            }
        }
    }
    .moreDates {
        font-size: .9em;
        text-decoration: none;
        color: white;
        box-sizing: border-box;
        border: 3px solid $accentBright;
        padding: 12px 28px;
        background: none;
        transition-duration: .3s;
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 80px;

        &:before {
            content: "";
            position: absolute;
            z-index: -1;
            background: $accentBright;
            height: 50px;
            width: 197px;
            transform: scaleY(0);
            transition-duration: 0.4s;
        }
        &:hover:before {
            transform: scaleY(1);
        }
        &:hover {
            border-color: $accentBright;
        }
    }
}